.screen-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f7f7;
  width: 1000px;
  height: 940px;
  font-family: "Ubuntu", sans-serif;
}
.screen {
  width: 350px;
  height: 750px;
  background-color: #ffffff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.screen-display {
  padding: 20px 10px;
  width: 300px;
  height: 680px;
}
.artist-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.artist-info__photo img {
  box-shadow: #e1d9f7 0px 8px 14px -2px, #e1d9f7 0px 6px 10px -3px;
}
.artist-info__photo img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
.artist-info__title {
  font-size: 20px;
  font-weight: 900;
  margin-top: 50px;
}
.artist-info__text {
  font-size: 15px;
  font-weight: 600;
  color: gray;
  margin-top: 10px;
}
.artist-info__buttons {
  display: flex;
  margin-top: 50px;
}
.artist-info__buttons-shuffle,
.artist-info__buttons-fav {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  margin: 0 5px;
  font-size: 15px;
  font-weight: 500;
}
.artist-info__buttons-shuffle {
  background-color: black;
  color: white;
}
.artist-info__buttons-fav {
  color: gray;
  font-weight: 600;
  box-shadow: #e1d9f7 0px 6px 12px -2px, #e1d9f7 0px 3px 7px -3px;
}
.artist-info__buttons-fav i {
  color: #222222;
}

.artist-songs {
  position: relative;
  /* border: 1px solid yellowgreen; */
}
.artist-songs__list {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  /* border: 1px solid red; */
}
.artist-songs__list-info {
  display: flex;
  align-items: center;
  width: inherit;
  margin-bottom: 5px;
  border-radius: 20px;
  padding: 3px 10px;

  /* border: 1px solid blue; */
}
.artist-songs__list-info:nth-child(2) {
  box-shadow: #e1d9f7 0px 6px 12px -2px, #e1d9f7 0px 3px 7px -3px;
}

.artist-songs__list-info_photo {
  /* display: flex; */
  position: relative;
}
.artist-songs__list-info_photo-now_playing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.artist-songs__list-info_photo-now_playing {
  color: white;
  font-weight: 900;
  font-size: 30px;
}
.artist-songs__list-info_photo img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 0.5px solid #c9a7ef;
}
.artist-songs__list-info__notphoto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  width: 100%;
}
.artist-songs__list-info_text-artistname {
  font-size: 15px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
}
.artist-songs__list-info_text-songname {
  font-size: 17px;
  font-weight: 600;
  margin-top: 10px;
}
.artist-songs__list-info_ellipsis i {
  font-size: 15px;
}

.playing-controller {
  position: relative;
  height: 60px;
  background-color: #222222;
  color: white;
  border-radius: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: #e1d9f7 0px 6px 12px -2px, #e1d9f7 0px 3px 7px -3px;
}
.playing-controller__songinfo-songname {
  font-weight: 600;
  margin-top: 5px;
}
.playing-controller__controller {
  display: flex;
  align-items: center;
}
.playing-controller__controller button {
  font-size: 20px;
  color: white;
}
.playing-controller__controller button:nth-child(2) {
  margin: 0 20px;
  font-size: 35px;
}

.now-playing {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.now-playing img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  box-shadow: #e1d9f7 0px 19px 38px, #e1d9f7 0px 15px 12px;
}
.now-playing__song-info {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.now-playing__song-info_songname {
  font-size: 30px;
  font-weight: 600;
}
.now-playing__song-info_artist {
  font-size: 17px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.progress-info {
  margin-top: 25px;
}
.progress-info__timing {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
  padding: 0 5px;
  color: rgba(0, 0, 0, 0.3);
}
.progress-info__progressbar-container {
  display: flex;
  justify-content: center;
}
#progress-info__progressbar {
  -webkit-appearance: none;
  outline: none;
  width: 100%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 1.5px;
  margin-top: 7px;
}
#progress-info__progressbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #222222;
  height: 12px;
  width: 12px;
  border-radius: 6px;
}

.music-controller {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.music-controller button {
  color: #222222;
}
.music-controller button:nth-child(4n + 1) {
  color: rgba(0, 0, 0, 0.3);
}
.music-controller button:nth-child(2n) {
  font-size: 20px;
}
.music-controller button:nth-child(3) {
  font-size: 55px;
  box-shadow: #c9a7ef 0px 6px 12px -2px, #c9a7ef 0px 3px 7px -3px;
  border-radius: 50%;
}
